img{
	left: 10px;
	top:10px;
	border-radius: 50px;
	height: 80px;
	width: 80px
}

h2{
	float: right;
	font-size: 30px;
	margin-right: 20px;
}

header{
	background: skyblue;
	height: 100px;
	width: 100%;
	
}

aside{
	float: right;
	height: 300px;
	width: 250px;
	top: 100px;
	margin-right: 400px;
}

form{
	border:2px solid black;
	height: 400px;
	width: 300px;
}

nav{
	height: 600px;
	width: 300px;
	background: violet;
	
}

ul li{
	list-style: none;
	margin-top: 50px;
	font-size: 40px;
	background: grey;
	color: black;
	border-radius: 30px;
}

footer{
	height: 100px;
	width: 100%;
	color: white;
	background: orange;
	position: absolute;
}

#dm{
	float: right;
	margin-right: 50px;
	margin-top: 20px;
	font-size: 40px;
}

#cname{
	left: 30px;
	margin-top: 20px;
	font-size: 40px;
}

input{
	height: 50px;
	width: 200px;
	border-radius: 20px;
	margin-top: 30px;
}

#a{
	border:1px solid black;
}